/* стартовые установки */

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* цвета */
    --white: #FAFAFA;
    --black: #252525;
    --gray: #9F9F9F;
    --lightgray: #EFEFEF;
    --brown: #FF5F0A;
    --midbrown: #D8780F;
    --lightbrown: #ECC180;
    --lightbeige: #F2EADB;
    /* --blue: #2828FF; */
    /* --lightblue: #A0CCFF; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1510px;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
}


/* 
--------------------------------------------------------------------------------  
--------------------------------------------------------------------------------  
icons */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?db7czy');
    src: url('../fonts/icomoon.eot?db7czy#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?db7czy') format('truetype'), url('../fonts/icomoon.woff?db7czy') format('woff'), url('../fonts/icomoon.svg?db7czy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-vk:before {
    content: "\ea98";
}

.icon-cart:before {
    content: "\e93a";
}

.icon-location2::before {
    content: '\e948';
    position: absolute;
    top: 2px;
    left: -20px;
}

.icon-phone::before {
    content: '\e942';
    position: absolute;
    top: 2px;
    left: -20px;
}

.icon-enter::before {
    content: '\ea13';
    position: absolute;
    top: 2px;
    left: -24px;
}

.icon-arrow-right2:before {
    content: "\ea3c";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}


/* 
--------------------------------------------------------------------------------  
--------------------------------------------------------------------------------  
header */


/* --------------------------------------------------------------------------------  
header top */

.header__top_list {
    display: flex;
    max-width: 98vw;
    width: 100%;
    margin: 1rem auto;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--gray);
    position: relative;
}

.header__top_list-item {
    position: relative;
    margin: 0 20px;
}

.header__top_list-item:hover {
    color: var(--black);
}


/* --------------------------------------------------------------------------------  
header__logo  */

.header__logo {
    display: flex;
    justify-content: center;
}

.header__logo_img {
    width: 100px;
    margin-right: 25px;
}

.header__logo_text {
    color: var(--brown);
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-weight: 900;
}


/* --------------------------------------------------------------------------------  
header__menu  */

.header__menu {
    width: 80%;
    margin: 0 auto;
}

.header__menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.header__menu_list li+li {
    margin-left: 2vw;
}


/* 
--------------------------------------------------------------------------------  
--------------------------------------------------------------------------------  
main */


/* --------------------------------------------------------------------------------  
slider */

.slider {
    margin: 2rem 0 0 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--brown) !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    border: 1px solid var(--brown);
    border-radius: 50%;
    padding: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-family: 'icomoon' !important;
    font-size: 1rem !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 50px !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 50px !important;
}

.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
    content: '\ea3c' !important;
    transform: rotateY(180grad);
    color: var(--brown);
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
    content: '\ea3c' !important;
    color: var(--brown);
}


/* --------------------------------------------------------------------------------  
 slide 01 */

.slide {
    display: flex;
    align-items: center;
}

.slide__wrapper {
    width: 555px;
    overflow: hidden;
    margin: 0 10% 0 10%;
}

.slide {
    min-height: 500px;
    background-color: var(--lightgray);
}

.slide__banner {
    width: 180px;
    text-align: center;
    overflow: hidden;
    margin: 0 0 0 3rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.55rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    color: var(--brown);
    border: 1px solid var(--midbrown);
    border-radius: 1rem;
}

.slide__title {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    margin: 0.8rem 0 1rem 2rem;
}

.slide__text {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.05rem;
    margin: 0 0 1rem 1rem;
}

.slide__link {
    display: block;
    width: 135px;
    text-align: right;
    overflow: hidden;
    padding: 0.5rem 0.8rem 0.8rem 1rem;
    margin: 0 0 0 2rem;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    position: relative;
    transition: all 0.2s;
}

.slide__link:hover {
    background-color: var(--gray);
    color: var(--white);
    transition: all 0.2s;
}

.slide__img {
    height: 410px;
}


/* --------------------------------------------------------------------------------  
email */

.email {
    display: flex;
    background-color: var(--lightbeige);
}

.email__img {
    height: 599px;
    margin: 0 0 -35px 80px;
}

.email__wrapper {
    width: 590px;
    margin: 150px 0 0 100px;
}

.email__top-text {
    max-height: 25px;
    overflow: hidden;
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.email__title {
    max-height: 150px;
    overflow: hidden;
    padding: 30px 0 20px;
    font-size: 1.55rem;
    font-weight: 900;
    line-height: 1.25em;
    letter-spacing: 0.05em;
}

.email__text {
    max-width: 90%;
    max-height: 50px;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0 0 20px 0;
}

.email__form {
    position: relative;
}

.email__form_input {
    width: 380px;
    border: none;
    background-color: var(--lightbeige);
    padding: 5px 10px;
    margin: 0 20px 0 0;
}

.email__form::after {
    content: '';
    width: 380px;
    height: 1px;
    background-color: var(--gray);
    position: absolute;
    top: 100%;
    left: 0;
}

.email__form_button {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--midbrown);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}


/* --------------------------------------------------------------------------------  
 collection */

.collection {
    text-align: center;
}

.collection__logo {
    width: 30px;
    margin: 50px 0 10px;
}

.collection__title {
    font-size: 1.85rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0 0 25px;
}

.collection__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 650px 650px;
    grid-template-rows: 310px 310px 310px 310px;
    gap: 20px 20px;
    color: var(--white);
    grid-template-areas: 'item00 .' 'item00 .' '. item05' '. item05';
    margin: 0 0 30px;
}

.collection__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.collection__item::before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, var(--black), var(--white));
    opacity: 0.35;
}

.collection__item_inner {
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.collection__item_title {
    font-size: 1.25rem;
    font-weight: 500;
    width: 350px;
    text-align: left;
    overflow: hidden;
}

.collection__item_link {
    width: 40px;
    height: 40px;
    border: 1px solid var(--lightgray);
    border-radius: 50%;
    padding: 5px;
}

.collection__item_link:hover {
    color: var(--black);
    background-color: var(--gray);
}

.collection__item_price {
    font-size: 1rem;
}

.collection__item_value {
    font-size: 1rem;
}

.item00 {
    grid-area: item00;
    background-image: url(../img/collection/collection_img00.jpg);
}

.item01 {
    background-image: url(../img/collection/collection_img01.jpg);
}

.item02 {
    background-image: url(../img/collection/collection_img02.jpg);
}

.item03 {
    background-image: url(../img/collection/collection_img03.jpg);
}

.item04 {
    background-image: url(../img/collection/collection_img04.jpg);
}

.item05 {
    grid-area: item05;
    background-image: url(../img/collection/collection_img05.jpg);
}


/* --------------------------------------------------------------------------------  
 promo */

.promo {
    margin: 30px 0;
    padding: 0 0 100px;
    background-image: url(../img/promo/bg.svg);
    text-align: center;
}

.promo__logo {
    margin: 100px 0 25px;
}

.promo__title {
    overflow: hidden;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: 0.1em;
    margin: 0 0 3rem;
    padding: 0 20px;
}

.promo__text {
    width: 850px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8em;
    margin: 0 auto;
}

.promo p+p {
    padding: 15px 0 0;
}


/* 
--------------------------------------------------------------------------------  
--------------------------------------------------------------------------------  
media */

@media (max-width: 655px) {
    .header__top_list-item span {
        display: none;
    }
    .header__top_list-link::before {
        top: -10px;
        left: -8px;
    }
}


/* --------------------------------------------------------------------------------  
 */